<a href="#" id="menu-toggle-wrapper">
  <div id="menu-toggle"></div>  
</a>

<!-- inner bar wrapper -->
<a href="#" id="inner-bar">
  <!-- Small logo -->
  <div class="logo-alt">
    <img src="{{ site.baseurl }}/assets/img/logo-mini.png" alt="logo-mini">
  </div>
  <!-- /Small logo -->
</a>
<!-- /inner bar wrapper -->


<!-- Sidebar -->  
<div id="side-bar">
  <div class="inner-wrapper"> 
    <div id="side-inner">

      <!-- Logo --> 
      <div id="logo-wrapper">
        <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/assets/img/logo.png" alt="logo"></a>
      </div>
      <!-- /Logo -->  

      <div id="side-contents">

        <!-- Navigation --> 
         <ul id="navigation">

          <li class="menu-item"><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/index.html">Journal</a></li>

          {% assign pages_list = site.pages | sort:"url" %}
          {% for node in pages_list %}
            {% if node.title != null %}
              {% if node.layout == "page" %}
                <li class="menu-item"><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}

          <li class="menu-item"><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://www.tactilisapp.com">Tactilis</a></li>
        </ul>
      </div>  

      <!-- Sidebar footer --> 
      <div id="side-footer">
        <!-- Social icons --> 
        <ul class="social-icons">
          <li><a href="http://www.twitter.com/trayser"><i class="fa fa-twitter"></i></a></li>
        </ul>
        <!-- /Social icons -->  
        <div id="copyright">
          @Satyakam Khadilkar
        </div>
      </div>
      <!-- /Sidebar footer -->  

    </div>
  </div>
  
          
</div>
<!-- /Sidebar -->

