---
layout: default
---
		<!-- Page main wrapper -->
		<div id="main-content" class="dark-template">
			<div class="page-wrapper">

				<!-- Sidebar -->
				<div class="page-side ajax-element">
					<div class="inner-wrapper vcenter-wrapper">
						<div class="side-content vcenter">
							<div class="title">
								<span class="second-part">Category</span>
								<span>Videography</span>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>

							<div class="row">
								<div class="col-md-12 col-sm-6">
									<div class="supervisor">
										<div class="sv-avatar">
											<img src="assets/img/team/01-b.jpg" alt="staff image">
										</div>
										<div class="sv-detail">
											<h3 class="sv-name">Mary Brandon</h3>
											<div>Supervisor</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-6">
									<div class="supervisor">
										<div class="sv-avatar">
											<img src="assets/img/team/02-b.jpg" alt="staff image">
										</div>
										<div class="sv-detail">
											<h3 class="sv-name">Bob Marlyn</h3>
											<div>Assistant</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Sidebar -->

				<!-- Main Content -->
				<div class="page-main ajax-element">
					<!-- Portflio wrapper -->	
					<div class="ajax-folio vertical-folio">
					{% for item in site.tools do %}

						<!-- Portflio Item -->		
						<div class="vf-item tj-hover-3 inview-animate inview-fadeleft">
							<a href="portfolio-item2-video.html" class="ajax-portfolio">
								<div class="owl-videobg hoverPlay" data-src="assets/video/05/05.mp4"></div>
								<!-- Item Overlay -->	
								<div class="tj-overlay vcenter-wrapper">
									<div class="overlay-texts vcenter">
										<h3 class="title">The Beginning of the Wind</h3>
										<h4 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
									</div>
								</div>
								<!-- /Item Overlay -->	
							</a>
						</div>
						<!-- /Portflio Item -->	
						
					{% endfor %}
					</div>
					<!-- /Portflio wrapper -->	
				</div>
				<!-- Main Content -->


				<div class="container">

					<!-- Page title -->
					<div class="page-title">
						<h1 class="title">Journal <span>New Light on Old Colors</span></h1>
					</div>
					<!-- /Page title -->


					<!-- Blog List -->
					<div id="blog-list">
					{% for item in paginator.posts do %}

						<!-- Post item -->
						<div class="post-item">
							<div class="post-body">
								<span class="post-meta">{{ item.date | date: '%B %d, %Y' }}</span>
								<h2 class="post-title"><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></h2>
								<div class="post-content">
									<p>{{ item.excerpt }}</p>
								</div>
							</div>
						</div>
						<!-- /Post item -->
						
					{% endfor %}
					</div>
					<!-- /Blog List -->


				</div>


			</div>
		</div>
		<!-- /Page main wrapper -->